<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-10">
    <div class="row">
      <div class="col-md-2">
        <div class="row">
          Level: {{concat level.levelDisplay " - " level.levelTitle}}
        </div>
        <div class="row timer">
          {{!-- play time --}}
          Time: {{playTime}}
        </div>
      </div>
      <div class="col-md-10">
        <div id="game-board">
          {{level-info
            levelTitle=level.levelTitle
            isPlaying=isPlaying
            isWinner=isWinner
            startPlaying="startPlaying"
            playAgain=(action 'playAgain')}}
          {{#component (concat 'levels/' level.levelFile)
            currentLevel=currentLevel
            foundButton=(action "foundButton")}}
            {{partial 'partials/thebutton'}}
          {{/component}}
        </div>
      </div>
    </div>
  </div>
</div>