html,body {
  height: 100%;
}

/* the theme doesn't seem to be included */
body {
  padding-top: 70px;
  padding-bottom: 30px;
}

/* apply 'pull-right' since we can't do it in the template */
ul.nav.navbar-nav {
  float: right !important;
}

.timer div {
  display: inline-block;
}

#game-board {
  min-height: 100px;
  max-height: 600px;
  height: 600px;
  width: 100%;
  border: solid 2px black;
  overflow: hidden;
  position: relative;
  z-index: 5;
}

.level button {
  position: absolute;
  width: 100px;
  height: 100px;
  left: -9999px; /* initially offscreen */
}

.modal.level-info {
  position: absolute;
  top: 20%;
}

.right-rail {
  position: relative;
  z-index: -10;
}