html,body {
  height: 100%;
}

/* the theme doesn't seem to be included */
body {
  padding-top: 70px;
  padding-bottom: 30px;
}

/* apply 'pull-right' since we can't do it in the template */
ul.nav.navbar-nav {
  float: right !important;
}

.timer div {
  display: inline-block;
}

#game-board {
  min-height: 100px;
  max-height: 600px;
  height: 600px;
  width: 100%;
  border: solid 2px black;
  overflow: hidden;
  position: relative;
  z-index: 5;
}

.playing #game-board {
  overflow: auto;
}

.level {
  width: inherit;
  height: inherit;
}

.level button {
  position: absolute;
  width: 100px;
  height: 100px;
}

.level .hide-button button {
  visibility: hidden;
}

.level .thebutton {
  background-color: pink;
  left: -9999px; /* initially offscreen */
}

.level.hot-cold button {
  z-index: 10;
}
.level.hot-cold #heat-map {
  background-color: black;
  background-repeat: no-repeat;
  /*the background property will need to be copied and modified in JS to change 'circle at X,Y' but keep the colors*/
  background: radial-gradient(circle at 50px 50px,
     red 1%,
     orange 5%,
     yellow 50%,
     rgba(0,0,100, .5) 100%,
     black);
  width: inherit;
  height: inherit;
  position: absolute;
  z-index: 100;
}

.level.hot-cold.show-button .thebutton {
  z-index: 150;
}

.modal.level-info {
  position: absolute;
  top: 20%;
}

.right-rail {
  position: relative;
  z-index: -10;
}
