#game-board {
  min-height: 100px;
  max-height: 600px;
  height: 600px;
  width: 100%;
  border: solid 2px black;
  overflow: hidden;
  position: relative;
  z-index: 5;
}

.playing #game-board {
  overflow: auto;
}