{{#bs-navbar class='navbar-default navbar-inverse navbar-fixed-top' name="FindTheButton"}}
  <li>
    {{link-to "Home" "index"}}
  </li>
  <li>
    {{link-to "Leaderboard" "leaderboard"}}
  </li>
  <li>
    {{link-to "About" "about"}}
  </li>
  {{#if session.isAuthenticated}}
    <li role="presentation"><button {{action "signOut"}}>Sign out</button></li>
  {{/if}}
{{/bs-navbar}}