{{#bs-navbar class='navbar-default navbar-inverse navbar-fixed-top' name="FindTheButton"}}
  {{#link-to 'index' tagName='li'}}
    {{link-to "Home" "index"}}
  {{/link-to}}
  {{#link-to 'leaderboard' tagName='li'}}
    {{link-to "Leaderboard" "leaderboard"}}
  {{/link-to}}
  {{#link-to 'about' tagName='li'}}
    {{link-to "About" "about"}}
  {{/link-to}}
  {{#if session.isAuthenticated}}
    <li role="presentation"><button {{action "signOut"}}>Sign out</button></li>
  {{/if}}
{{/bs-navbar}}