<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-10">
    {{game-info currentLevel=model.currentLevel isPlaying=model.isPlaying}}
    <div id="level">
      {{level-info currentLevel=model.currentLevel isPlaying=model.isPlaying startPlaying="startPlaying"}}
      One day I'll be a component!
    </div>
  </div>
  <div class="col-md-2 hidden-xs text-centered">
    I AM AN ADVERTISEMENT
  </div>
</div>