{{outlet}}
<div class="col-xs-12 col-sm-12 col-md-10">
  <div id="game-info">
    I show the Level, Current Rank, and Total Time
  </div>
  <div id="level-info">
    I show the countdown and level name
  </div>
  <div id="level">
    One day I'll be a component!
  </div>
</div>
<div class="col-md-2 text-centered">
  I AM AN ADVERTISEMENT
</div>